<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <h1>Artist</h1>
        </div>

        <div class="col-sm-2">
            <div class="list-group">
                <a [routerLink]="['./tracks']" type="button" class="list-group-item">Tracks</a>
                <a [routerLink]="['./albums']" type="button" class="list-group-item">Albums</a>
            </div>
        </div>
        <div class="col-sm-8"></div>
    </div>
    <hr>

    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>

