<div class="container">
    <h3>iTunes Search</h3>
    <form>
        <div class="form-group">
            <input type="search"
                   class="form-control"
                   placeholder="Search"
                   #search>
        </div>

        <button
          type="submit"
          class="btn btn-primary"
          (click)="doSearch(search.value)">Submit
        </button>
    </form>

    <hr>


        <div class="col-sm-6" *ngFor="let track of ituneSS.results">
            <div class="list-group">
                <a href="{{track.collectionViewUrl}}" class="list-group-item active" target="_blank">
                    <img [src]="track.artworkUrl60" alt="{{track.artistName}}">
                    <h4 class="list-group-item-heading">{{ track.trackName }}</h4>
                    <p class="list-group-item-text">{{ track.artistName }}</p>
                </a>
            </div>
        </div>



</div>



